.classifier {
    position: relative;
    height: 100vh;
}

.subject-viewer {
    overflow: scroll;
}

.classifier .subject-viewer .subject-container {
    max-width: 300%;
    width: 300%;
}

.classifier > div:nth-child(2) {
    overflow-y: scroll;
}

.highlighter {
    position: absolute;
    content: '';
    background-color: rgba(255, 0, 0, 0.1);
    z-index: 1000;
    cursor: grab;
}

.highlighter-moving {
    cursor: grabbing;
}

.highlighter-vertical {
    left: 50%;
    width: 100px;
    top: 0;
    bottom: 0;
}

.classifier .subject-viewer .warning-banner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 100%
}

.rrt-value-warning > textarea {
    background-color: #ffbb07;
}

.rrt-value-warning::after {
    color: #ffbb07;
    content: 'Value does not match expected pattern'
}

.rrt-total-rainfall-warning > textarea {
    background-color: #ffbb07;
}

.rrt-total-rainfall-warning::after {
    color: #ffbb07;
    content: 'Value does not match calculated total'
}
