.rainfall-rescue-tools .classifier {
    position: relative;
    height: 100vh;
}

.rainfall-rescue-tools .subject-viewer {
    overflow: scroll;
}

.rainfall-rescue-tools .classifier .subject-viewer .subject-container {
    max-width: 300%;
    width: 300%;
}

.rainfall-rescue-tools .classifier > div:nth-child(2) {
    overflow-y: scroll;
}

.rainfall-rescue-tools .highlighter {
    position: absolute;
    content: '';
    background-color: rgba(255, 0, 0, 0.1);
    z-index: 1000;
    cursor: grab;
}

.rainfall-rescue-tools .highlighter-moving {
    cursor: grabbing;
}

.rainfall-rescue-tools .highlighter-vertical {
    left: 50%;
    width: 100px;
    top: 0;
    bottom: 0;
}

.rainfall-rescue-tools .classifier .subject-viewer .warning-banner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 100%
}

.rainfall-rescue-tools .value-warning > textarea {
    background-color: #ffbb07;
}

.rainfall-rescue-tools .value-warning::after {
    color: #ffbb07;
    content: 'Value does not match expected pattern'
}

.rainfall-rescue-tools .total-rainfall-warning > textarea {
    background-color: #ffbb07;
}

.rainfall-rescue-tools .total-rainfall-warning::after {
    color: #ffbb07;
    content: 'Value does not match calculated total'
}
